[Desktop Entry]
Exec=designer-qt5
Name=Qt5 Designer
Name[bg]=Qt5 Дизайнер
Name[br]=Ergrafer Qt5
Name[ca]=Dissenyador Qt5
Name[cs]=Qt5 designer
Name[de]=Qt5-Designer
Name[eo]=Qt5-Desegnilo
Name[es]=Diseñador Qt5
Name[et]=Qt5 disainer
Name[eu]=Qt5 Diseinatzailea
Name[gl]=Deseñador de Qt5
Name[he]=Qt5 בצעמ
Name[it]=Designer Qt5
Name[ja]=Qt5デザイナー
Name[ko]=Qt5 디자이너
Name[lv]=Qt5 Dizainers
Name[mk]=Qt5 дизајнер
Name[nb]=Qt5-designer
Name[oc]=Dessinador Qt5
Name[pl]=Projektant Qt5
Name[sk]=Qt5 Dizajnér
Name[sl]=Snovalnik Qt5
Name[ta]=Qt5 À¨¼ôÀ¡Ç÷
Name[uk]=Дизайнер Qt5
Name[zh_CN]=Qt5 设计者
Name[zh_TW]=Qt5 設計器
Comment=Qt5 interface designer
Comment[az]=Qt5 axtar üz dizayn proqramı
Comment[bg]=Qt5 interface дизайнер
Comment[br]=Ergrafer etrefas Qt5
Comment[ca]=Dissenyador d'interfícies Qt5
Comment[cs]=Editor UI pro Qt5
Comment[da]=Qt5 grænseflade designer
Comment[de]=Schnittstellen-Designer für Qt5
Comment[el]=Σχεδιασμός περιβάλλοντων Qt5
Comment[eo]=Qt5-Interfacdesegnilo
Comment[es]=Diseñador de interfaces de Qt5
Comment[et]=Qt5 dialoogide redaktor
Comment[eu]=Qt5 interfaze diseinatzailea
Comment[fi]=Qt5:n käyttöliittymäsuunnittelija
Comment[fr]=Conception d'interfaces avec Qt5
Comment[gl]=Editor de interfaces de Qt5
Comment[he]=Qt5-ל םיקשממ בצעמ
Comment[hu]=Qt5 felülettervező
Comment[is]=Viðmótshönnunartól fyrir Qt5
Comment[it]=Editor per le interfaccie Qt5
Comment[ja]=Qt5インターフェースデザイナー
Comment[ko]=Qt5 인터페이스 디자이너
Comment[lt]=Qt5 sąsajos redaktorius
Comment[lv]=Qt5 starsejas dizainers
Comment[mk]=Дизајнер на Qt5 дијалози
Comment[nl]=Qt5 interface-ontwerper
Comment[nb]=Qt5-grensesnittdesigner
Comment[nn]=Redigering av Qt5-miljø
Comment[oc]=Dessinador d'interfacies Qt5
Comment[pl]=Projektant interfejsu Qt5
Comment[pt]=Editor de interfaces do Qt5
Comment[pt_BR]=Designer de interface Qt5
Comment[ro]=Dezvoltator de interfeţe Qt5
Comment[ru]=редактор интерфейсов приложений Qt5
Comment[sk]=Qt5 dizajnér rozhrania
Comment[sl]=Snovalnik vmesnikov za Qt5
Comment[sr@Latn]=Dizajner Qt5 interfejsa
Comment[sv]=Editor för gränssnitt till Qt5
Comment[ta]=Qt5 À¨¼ôÀ¡Ç÷
Comment[tr]=Qt5 arayüz tasarım programı
Comment[uk]=Редактор інтерфейсу для Qt5
Comment[zh_CN]=Qt5 界面设计程序
Comment[zh_TW]=Qt5 介面編輯器
MapNotify=true
MimeType=application/x-designer;
Icon=designer-qt5
Terminal=false
Type=Application
Categories=Qt;Development;GUIDesigner;
# vi: encoding=utf-8
